
.navbar-dark .navbar-nav .nav-link {
    color:white;
}
.button {
    border: none;
    margin: 3px;
    padding: 12px;
    width: 100px;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
}

/* .btn1 {
    background: rgb(55, 191, 226);
    background: linear-gradient(163deg, rgba(55, 191, 226, 1) 0%, rgba(45, 253, 117, 1) 100%);
}

.btn2 {
    background: rgb(55, 191, 226);
    background: linear-gradient(163deg, rgba(55, 191, 226, 1) 0%, rgba(45, 253, 117, 1) 100%);
} */

.navbar-nav li a {
    font-family: "montserrat", sans-serif;

}

nav a {
    font-family: "montserrat", sans-serif;

}

.carousel-item .carousel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Resize the wrap to see the search bar change!*/


/* Scroll Bar css */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #06dee1, #79ff6c);
    border-radius: 3px;
}

/* css page add */
.row1 {
    margin-left: 150px;
}

.formBox {
    margin-top: 80px;

}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px !important;
    text-transform: uppercase;
    font-size: 48px;
}

.inputBox {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.input {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
}


.inputText {
    position: absolute;
    line-height: 50px;
    font-size: 24px;
    transition: .5s;
    opacity: .5;
}

.focus .inputText {
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    color: #00bcd4;
}

textarea {
    width: 200% !important;
    height: 100px !important;
}

.butt {
    width: 100%;
    background: #837978;
    color: #fff;
    border-radius: 0;
    border: none;
    outline: none;
    height: 50px;
    font-size: 24px;
    margin: auto
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.section {
    padding: 100px 0 0;
}

.section1 {
    padding: 100px;
}

.card {
    position: relative;
    height: 438px;
    overflow: hidden;
    box-shadow: 0 5px 15px;
    margin-bottom: 20px;
}

.card .post-image {
    height: 343px;
    overflow: hidden;
}

.card .post-image img {
    transition: .5s;
}

.card:hover .post-image img {
    transform: scale(1.2) translateY(-50px);
}

.card .news-content {
    position: absolute;
    padding: 20px;
    bottom: -150px;
    background: #fff;
    transition: .5s;
}

.card:hover .news-content {
    bottom: 0px;
}

.card .category {
    position: absolute;
    top: -30px;
    left: 0;
    height: 30px;
    background: #f52601;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: .5s;
}

.card .news-content .post-meta a {
    text-decoration: none;
    padding-right: 10px;
    font-weight: bold;
    transition: .5s;
}

.card .news-content .post-meta a:hover {
    color: #DF084A;
}

.card .news-content .post-header {
    margin: 0;
    padding: 10px 0;
    color: black;
    height: 75px;
    word-break: break-all;
    font-size: 28px;
    overflow: hidden;
}

.card .news-content p {
    font-size: 16px;
    margin: 10px 0 0;
    padding: 0;
    transition: .5s;
    opacity: 0;
    word-break: break-all;

}

.card:hover .news-content p {
    opacity: 1;
}

/* css page.html  */
.featurette-divider {
    margin-top: 100px;
}


.icone {
    display: flex;
    justify-content: space-around;
}
